fastapi==0.110.0
uvicorn==0.15.0
python-jose[cryptography]==3.3.0
bcrypt==3.2.0
pyjwt==2.1.0
python-multipart==0.0.20
certifi==2025.1.31
httpcore==1.0.7
httpx==0.28.1
pydantic==2.10.6
sqlalchemy==1.4.47  
asyncpg==0.29.0
databases[postgresql]==0.8.0  
psycopg2-binary==2.9.9
python-dotenv==1.0.1
pydantic-settings==2.2.1